<div id="book-title-wrapper">
  <%= link_to book_path(@book) do %>
  <div id="book-title">
    <h1><%= @book.title %></h1>
    <h2><%= @book.description %></h2>
  </div>
  <% end %>
</div>

<div class="article">
  <h1 class="article__title"><%= @article.title %></h1>
  <div class="article__body">
    <%= body_with_pre_wrap(@article) %>
  </div>
  <p class="article__meta">
    <%= date_only(@article.published_at) || @article.status %>
    <%= debug_id(@article) %>
  </p>
  <div class="article__action-buttons">
    <div>
      <% if @article.prev_article.present? %>
        <%= link_to "前へ", article_path(@article.prev_article) %>
      <% end %>
    </div>
    <div>
      <%= link_to "一覧", book_path(@article.book) %>
    </div>
    <div>
      <% if @article.next_article.present? %>
        <%= link_to "後へ", article_path(@article.next_article) %>
      <% end %>
    </div>
  </div>
</div>
