<h1>
  <%= link_to root_path do %>
    Diarin
  <% end %>
</h1>

<div class="user-menu">
  <div class="user-info">
    <h2>User Information</h2>
    <dl>
      <dt>Display Name</dt>
      <dd><%= @user.display_name %></dd>
      <dt>Email Address</dt>
      <dd><%= @user.email_address %></dd>
      <dt>Password</dt>
      <dd>********</dd>
    </dl>
  </div>

  <div class="writing-books">
    <h2>Books</h2>
    <% if @user.books.empty? %>
      <p>No books yet.</p>
    <% else %>
      <dl>
        <% @user.books.each do |book| %>
          <dt><%= book.title %></dt>
          <dd><%= link_to 'Show', book %></dd>
        <% end %>
      </dl>
    <% end %>
  <%= button_to 'Sign Out', session_path, method: :delete %>
</div>
