<div id="book-title-wrapper">
  <%= link_to book_path(@book) do %>
    <div id="book-title">
      <h1><%= @book.title %></h1>
      <h2><%= @book.description %></h2>
    </div>
  <% end %>
</div>

<div class="simple-form">
  <%= form_with model: @book, url: book_path(@book.slug), method: :patch do |form| %>
    <%= tag.div(flash[:alert], class: "flash flash--alert") if flash[:alert] %>
    <%= tag.div(flash[:notice], class: "flash flash--notice") if flash[:notice] %>

    <%= form.text_field :title, requiresd: true, autofocus: true, placeholder: "Enter title", value: @book.title %>
    <%= form.text_field :description, required: true, autofocus: true, placeholder: "Enter description", value: @book.description %>
    <%= form.select :theme_slug, options_for_select(Theme::SLUGS, @book.theme_slug), required: true %>
    <%= form.select :first_view_type, options_for_select(Book::FIRST_VIEW_TYPES, @book.first_view_type), required: true %>
    <%= form.submit "Save" %>
  <% end %>
</div>
