<h1 class='diarin-title'>
  <%= link_to root_path do %>
    Diarin
  <% end %>
</h1>
<h2 class='txt-align-center'>Forgot your password?</h2>

<div class="simple-form">
  <%= form_with url: passwords_path do |form| %>
    <%= tag.div(flash[:alert], class: "flash flash--alert") if flash[:alert] %>
    <%= tag.div(flash[:notice], class: "flash flash--notice") if flash[:notice] %>

    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    <%= form.submit "Email reset instructions" %>
  <% end %>
</div>
