<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Diarin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://apis.google.com/_/scs/abc-static/_/js/k=gapi.lb.en.N4A9eqvTwsI.O/m=client,plusone/rt=j/sv=1/d=1/ed=1/am=AACA/rs=AHpOoo_O6fwbR1aR8YHQkB3I0FTV0L0UIA/cb=gapi.loaded_0?le=scs" async=""></script>
  </head>

  <%= tag.body class: "theme-color--#{theme_color}" do %>
    <%= tag.div id: controller_name do %>
      <%= yield %>
    <% end %>
    <div id="session-menu">
      <% if authenticated? %>
        <%= link_to user_path(Current.user) do %>
          Login as <span class="user-label"><%= Current.user.email_address %></span>
        <% end %>
      <% else %>
        <%= link_to new_session_path, class: "hidden" do %>
          Login
        <% end %>
      <% end %>
    </div>
  <% end %>
</html>
